
 <div ng-include="'LoggedIn/base/NavigationBar.html'"></div>
 <div ng-include="'LoggedIn/base/ChatModule.html'"></div>
   <div ng-include="'LoggedIn/base/ScoreBoard.html'"></div>
   <div ng-include="'LoggedIn/game/TetrisClient.html'"></div>