body{
    width:96%;
}
#chatlog{
	position: absolute;
	text-align:center;
	width: 100%;
	height: 96%;
	margin: 0px;
	overflow-y:auto;
	color: #666666;
    background-color: white;
}
#chatModule{
    position: fixed;
    border:solid;
    border-width: 5px;
    width:25%;
    height:80%;
    right:5%;
    top:10%

}

#chatConvo{
    font:10px/10px Courier;
	overflow-y:auto;
}
#chatarea{
   background-color:white;
   position: absolute;
   border-style: solid;
	border-color: white;
	border-width: 5px;
	color: #666666;
   width:68%;
   height:88%;
   top:0;
}
#users{
   background-color:#AAAAAA;
   position: absolute;
   border-style: solid;
	border-color: black;
	border-width: 5px;
	color: #666666;
   width:30%;
   height:88%;
   top:-5px;
   right:-5px;
}

#input{
   position:absolute;
   border: solid 4px;
   width:99%;
   height:10%;
   bottom:0px;
   background-color:white;
}
#message_input{
    display: inline-block;
	background-color: #e6e6e6;
	border: none;
	width: 80%;
	height:95%;
	bottom:5px;
	margin: 0 0;
	font: 12px/12px Courier, sans-serif;
	overflow-y: scroll;
	word-wrap: break-word;
	word-break: normal;
    resize: none;
}
#send {
    background-color: white; 
    border: none;
    color: #666666;
	width: 19.5%;
	height:100%;
	right:0px;
	position:absolute;
    text-align: center;
    font-weight: bold;
	font:14px/14px Courier, sans-serif;
    margin:0 auto;
    display: inline-block;
	-webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}
#send:hover {
	background-color: #66ccff;
	color:white;
}


#welcome{
    color: #DDDDDD;
	position:absolute;
    text-align: center;
	padding-top: 4px;
    font-weight: bold;
	font:12px/12px Courier, sans-serif;
    margin: 6px;
    display: inline-block;
	-webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

#welcomeUser{
    border: none;
    color: #111111;
	position:absolute;
    text-align: center;
	padding-left: 16px;
    font-weight: bold;
	font:16px/16px Courier, sans-serif;
    margin: 6px;
    display: inline-block;
	-webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}


.listTitle{
	background-color: #AAAAAA;
    border: none;
    color: #111111;
	position:absolute;
    text-align: center;
	padding-top: 4px;
    font-weight: bold;
	font:12px/12px Courier, sans-serif;
    margin: 6px;
    display: inline-block;
	-webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

li{

    border: none;
    color: #666666;
	position:absolute;
    text-align: left;
	padding-top: 4px;
    font-weight: bold;
	font:10px/10px Courier, sans-serif;
    margin: 0px;
    display: inline-block;
	-webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

li:hover {
	background-color: #e6f9ff;
	color:#666666;
}
.whisper {
	color:#ff33cc !important;
}

.messageUser{
	color: #666666;
	-webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.messageUser:hover{
	color: #ff4d4d;
}

.messageLike{
	color: #66ccff;
	-webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    font:10px/10px Courier;
}

.messageLike:hover{
	color: #ff4d4d;
}

.messageMessage{
	color: #66ccff;
	-webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.messageMessage:hover{
	color: #ff4d4d;
}
