<div class="container-fluid">
        <div class="row">
            <div class="col-md-3" ><h1 class="text-center"><a href="#/">Back to Home</a></h1></div>
            <div class="col-md-3" ><h1 class="text-center"><a href="#/Play">TETRIS!</a></h1></div>
			<div class="col-md-3" ><h1 class="text-center"><a href="#/User">User Page</a></div>
            <div class="col-md-3" ><h1 class="text-center"><a href="#/login">Logout</a></div>
</div>