#scores{
	position: absolute;
	text-align:center;
	width: 100%;
	height: 85%;
	margin: 0px;
	overflow-y:auto;
	color: #666666;
    bottom:0;
    background-color:beige;
}
#title{
    position: absolute;
    text-align:center;
    font: 50px/50px Times;
    width:100%;
    height:25%;
    top:0;
    background-color:gray;
}
#Scoreboard{
    position: fixed;
    border:solid;
    border-width: 5px;
    width:25%;
    height:80%;
    left:5%;
    top:10%

}

ul {
    list-style-type: none;
    padding: 0;
    width: 100%;
} 

ul li{
    border: solid 3px;
    color: black;
    font:50px/50px Courier, sans-serif;
    display: block;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

li:hover {
	background-color: #e6f9ff;
	color:#666666;
}

