<div id = "Scoreboard">
	  <div id="title"><h1>Scores for <br> {{vm.user.username}}</h1></div>

	  <div id="scores">
			<ul ng-repeat="score in vm.scores track by $index">
				  <li class="col-md-12">{{score}}</li>
			</ul>
      </div>
</div>
 <link rel="stylesheet" href="LoggedIn/base/Scoreboard.css">