<div id = "Scoreboard">
	  <div id="title"><h1>Scores for <br> {{vm.user.username}}</h1></div>

	  <div id="scores"><ul>
	      <li class="col-sm-12">Hi</li>
	      <li class="col-sm-12">Ho</li>
	    </ul>
	  </div>
</div>
 <link rel="stylesheet" href="LoggedIn/base/Scoreboard.css">
