﻿<div class=container>
    <div class="col-sm-8 col-sm-offset-2 top-buffer">

<div class="col-md-8 col-md-offset-2 text-center" >
    <h2>Register in order to play!</h2>
    <form name="form" ng-submit="vm.register()" role="form" class="text-left">
        <div class="form-group" ng-class="{ 'has-error': form.Name.$error.required }">
            <label for="username">Name</label>
            <input type="text" name="Name" id="Name" class="form-control" ng-model="vm.user.Name" required />
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.username.$error.required }">
            <label for="username">Username</label>
            <input type="text" name="username" id="username" class="form-control" ng-model="vm.user.username" required />
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" class="form-control" ng-model="vm.user.password" required />
        </div>
        <div class="form-actions">
            <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">Register</button>
            <a href="#/login" class="btn btn-link">Cancel</a>
        </div>
    </form>
</div>
    </div>
</div>
