.header{
  margin: auto;
  width: 50%;
  text-align:center;
}

body { 
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        font-family: 'Orbitron', sans-serif;
}

canvas{
    position:absolute;
    left:50%;
    top:50%;
    margin-left: -150px; /* -1/2 width */
    margin-top:-250px; /* -1/2 height */
    background-color: #f2f2f2;
    box-shadow: 3px 3px 5px #888888;
}

.score{
  margin-left: 240px;
  margin-top: 490px;
}
