
 <div ng-include="'LoggedIn/base/NavigationBar.html'"></div>
 <div ng-include="'LoggedIn/base/ChatModule.html'"></div>
 <div ng-include="'LoggedIn/base/ScoreBoard.html'"></div>
<div class="col-md-8 col-md-offset-2 text-center"><h1>Welcome, {{vm.user.Name}} </h1></div>
<div class="col-md-4 col-md-offset-4 text-center"><h2>_________________________</h2></div>
<div class="col-md-4 col-md-offset-4 text-center"><h2>On this page you:</h2></div>
<div class="col-md-4 col-md-offset-4 text-center"><h2>will find your previous scores, </h2></div>
<div class="col-md-4 col-md-offset-4 text-center"><h2>can continue to chat with others,</h2></div>
<div class="col-md-4 col-md-offset-4 text-center"><h2>or may <a href="#" ng-click="vm.deleteUser(user.id)">delete</a> your account</h2></div>

  