﻿<div class=container>
    <div class="col-sm-8 col-sm-offset-2 top-buffer">
<div class="col-md-8 col-md-offset-2 text-center">
    <h2>Welcome to Jack And Ferns Tetris Page! </h2><h2>Login to Continue</h2>
    <form name="form" ng-submit="vm.login()" role="form" class="text-left">
            <label for="username">Username</label>
            <input type="text" name="username" id="username" class="form-control" ng-model="vm.username" required />
            <label for="password">Password</label>
            <input type="password" name="password" id="password" class="form-control" ng-model="vm.password" required />
        <div class="form-actions">
            <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">Login</button>
            <a href="#/register" class="btn btn-link">Register</a>
        </div>
    </form>
</div>
    </div>
</div>
